<phpunit 
	verbose="true" 
	bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Collection Suite Test">
            <file>tests/Collection/CollectionTest.php</file>
            <file>tests/Collection/CollectionTypedTest.php</file>
        </testsuite>
        <testsuite name="Listable Suite Test">
            <directory>tests/Listable</directory>
        </testsuite>
        <testsuite name="~Queryable Suite Test">
            <directory>tests/Queryable</directory>
        </testsuite>
    </testsuites>
</phpunit>